<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        Greenpeace - {% block title %} Iniciar Sesión {% endblock %}
    </title>

    <!-- Favicon - loaded as static -->
    <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">


    <!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap" rel="stylesheet">
    <link href="/static/assets/css/datasocial.css" rel="stylesheet"/>

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}

    {% endblock stylesheets %}

</head>

<body>
<div class="d-flex">
    {% include "includes/sidenav.html" %}
    {% include "includes/navigation.html" %}
    {% block content %}{% endblock content %}
</div>


{% include "includes/scripts.html" %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}

</body>

</html>
