# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\datasocial\Proyectos\gpes-elections-council\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
